## B - Mapping new guidelines to prior versions

Old<br/>Id | New<br/>Id | Text | Severity | Change-<br/>ability | Effi-<br/>ciency | Maintain-<br/>ability | Port-<br/>ability | Reli-<br/>ability | Reus-<br/>ability | Secu-<br/>rity | Test-<br/>ability
:---: | :---: | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---:
