.md-typeset a {
    color: #ff1744;
    word-break: break-word;
    text-decoration: none;
}

[data-md-color-accent=red] .md-typeset a:hover {
    color: #ff1744;
    word-break: break-word;
    text-decoration: underline;
}

.md-nav__link--active, .md-nav__link:active {
    color: #ff1744;
    text-decoration: none;
}

[data-md-color-accent=red] .md-nav__link:hover {
    color: #ff1744;
    text-decoration: underline;
}

@media print {

    /* disable menu */
    .md-md-header {
        display: none;
    }

    /* disable scrollbar */
    .md-typeset__scrollwrap, .md-typeset table:not([class]), .md-typeset .md-typeset__table table, .md-container,
    .md-main, html {
        overflow-x: hidden;
        -webkit-overflow-scrolling: hidden
    }   

    /* table-header-group leads to overlap with content */
    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }

    h1 {
        page-break-before: always;
    }

    #about { 
        page-break-before: avoid;
    }
}

